.profile {
  width: 260px;
  margin: 20px auto 0;
  background-color: var(--white);
  border: 2px solid var(--black);
  border-radius: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.avatar {
  width: 100px;
  background-color: var(--braungrey);
  border-radius: 50%;
  margin-bottom: 15px;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.tag,
.location {
  font-size: 16px;
  color: var(--darkgrey);
}

.stats {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--darkgrey);
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 60px;
  width: 30%;
  border: 1px solid var(--darkgrey);
  border-bottom: none;
  background-color: var(--grey);
  &:first-child {
    border-left: none;
    border-radius: 0 0 0 8px;
  }
  &:last-child {
    border-right: none;
    border-radius: 0 0 8px 0;
  }
}
.label {
  font-size: 14px;
  color: var(--black);
}

.quantity {
  font-size: 15px;
  font-weight: bold;
}
