.transactionTable {
  width: 600px;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 20px;
}

.transactionTable th,
.transactionTable td {
  padding: 5px;
  border: 2px solid var(--black);
  text-align: center;
}

.transactionTable th {
  background-color: var(--braungrey);
  color: var(--white);
  font-weight: bold;
}

.transactionTable tr:nth-child(odd) {
  background-color: var(--white);
}

.transactionTable tr:nth-child(even) {
  background-color: var(--grey);
}

.transactionTable td:first-child {
  text-transform: capitalize;
}
